﻿@size14: 14px;
@size16: 16px;
@size18: 18px;
@size20: 20px;

@colorWhite: white;
@colorBlack: black;
@colorGreyDark: #353535;
@colorGreySolid: #b9b9b9;
@colorLowGrey: #dcdcdc;

@colorBlackOpacity: rgba(0, 0, 0, 0.73);


.trans(@trans){
    transition: @trans;
    -webkit-transition: @trans;
    -moz-transition: @trans;
    -o-transition: @trans;
}
.trans1(){
    .trans( all .3s ease );
}

.round(@round){
    webkit-border-radius: @round;
    -moz-border-radius: @round;
    border-radius: @round;
}
.round1(){
    .round(10px);
}

.padding(@padding){
    padding: @padding;
}

.padding_two(@vertical,@gorizont){
    padding: @vertical @gorizont;
}

.padding_two0(){
    .padding_two(8px, 15px);
}

.padding_two1(){
    .padding_two(20px, 15px);
}

.hover_color(){
    &:hover{
        color:@colorWhite;
        background:@colorBlack;
    }
}


@font-face{
    font-family: 'ProximaNova-Reg';
    src: url('../fonts/proxima/ProximaNova-Reg.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'ProximaNova-Reg';
    src: url('../fonts/proxima/ProximaNova-Bold.otf') format('otf');
    font-weight: bold;
}

html, body {
    height: 100%;
}

#preloader{
    position: fixed;
    left: 0;
    top: 0px;
    right: 0;
    bottom: 0;
    background: @colorBlackOpacity;
    color: @colorWhite;
    z-index: 9999999999999999999999999999999999999999999;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

html, body {
    height: 100%;
}

html, body, .map {
    width: 100%; height: 100%; padding: 0; margin: 0;
}

.main-map {
  height: 500px;
}

body{
    background: @colorWhite;
    color: @colorBlack;
    padding: 0;
    margin: 0;
    font-size: @size14;
    font-family: 'ProximaNova-Reg', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
}

h2{
    text-align: center;
}

.mainer {
    flex: 1 0 auto;
}

footer {
    background: black;
    padding: 30px;
    color:white;
    flex-shrink: 0;
    margin-top: 50px;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: @size20;
}

h1 {
    text-align: center;
}

.form-inp,
.button
{
    .trans1;
    .round1;
    .padding_two0();
    outline: none;
    border: 1px solid black;
    box-sizing: border-box;
}

.form-inp
{
    font-size: @size16;
}

.form-container {
    margin:  0 auto;
    max-width:500px;
    .form-inp, .button
    {
        width:100%;
        margin-top:10px;
    }
}

.button {
    border: none;
    cursor: pointer;
    font-size: @size18;

    .hover_color();
}

.error {
    color:#d80d0d;
    margin-top: 5px;
}

.hideForm {
    display: none;
}

.main_inf {
    font-size: @size20;
    font-weight: bold;
    margin-bottom: 30px;
}

.template1{
    background:   @colorLowGrey;
    color:  @colorGreyDark;
    .round1();
    .padding_two1();
    margin-bottom: 20px;
    border: 2px solid @colorGreySolid ;
    font-size: @size18;
}

.adress_branch {
    display: inline-block;
    margin: 0 10px;
    word-break: break-word;
    padding-right: 10px;
}

.pointer {
    cursor: pointer;
}

.branch {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.arrow-branch {
    margin-left: auto;
    display: inline-block;
    color: @colorBlack;
    background: @colorWhite;
    .trans1();
    .round(50px);
    .hover_color();
    padding: 7px 8px;
}



.offices {
     display: flex;
     flex-direction: row;
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap: wrap;
    font-size: @size16;
    margin-top: 30px;
}


.office {
    width: 46.5%;
    padding: 10px;
    margin-bottom: 30px;
    margin-right: 30px;
    border: 1px solid @colorGreySolid;
    .round1();
    overflow: hidden;
    background: @colorWhite;
}

.office-main {
    float: left;
    width: 45%;
}

.office-map {
    float: right;
    width: 55%;
    min-height: 270px;
}

.office:nth-child(even) {
    margin-right: 0;
}

.office-inf-block {
    margin-bottom: 10px;
}

.branch-map {
    height: 300px;
    margin-top: 20px;
}

.main_phone {
    margin-top: 10px;
    text-align: center;
    font-size: @size14 !important;
}


@media screen and (max-width: 1140px) {
    .container {
        width: 962px;
    }

    .office {
        width: 100%;
        margin-right: 0;
    }

    .office-main {
        width: 40%;
    }

    .office-map {
        width: 60%;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 612px;
    }
}


@media screen and (max-width: 642px) {

    .offices {
        font-size:@size14;
        text-align: center;
    }

    .office {;
        margin-bottom: 10px;
    }

    .container {
        width: 370px;
    }

    h1 {
        font-size: @size18;
    }

    .form-inp,
    .button
    {
        font-size: @size14;
    }

    .footer-container {
        flex-direction: column-reverse;
        font-size: @size14;
    }

    footer{
        padding: 15px 0;
        margin-top: 20px;
    }

    h2 {
        font-size: @size16;
    }

    .template1 {
        padding: 10px 15px;
        font-size: @size16;
    }

    .adress_branch {
        display: block;
        margin:  0;
        font-weight: bold;
    }

    .ik_none_mobile {
        display: none;
    }

    .map {
        height: 270px;
    }


    .office-main {
        width: 100%;
    }

    .office-map {
        width: 100%;
    }


    .main_inf {
        font-size: @size14;
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 400px) {
    .container {
        width: 290px;
    }
}